<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  	<servlet-name>loginServlet</servlet-name>
  	<display-name>loginServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.loginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>editBookServlet</servlet-name>
  	<display-name>editBookServlet</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.editBookServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteBookServlet</servlet-name>
  	<display-name>deleteBookServlet</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.deleteBookServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>logoutServlet</servlet-name>
  	<display-name>logoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.logoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>cartServlet</servlet-name>
  	<display-name>cartServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.cartServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>removeBookServlet</servlet-name>
  	<display-name>removeBookServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.removeBookServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>sellBookServlet</servlet-name>
  	<display-name>sellBookServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.sellBookServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteSellBookServlet</servlet-name>
  	<display-name>deleteSellBookServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.deleteSellBookServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>editProfileServlet</servlet-name>
  	<display-name>editProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.editProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>orderServlet</servlet-name>
  	<display-name>orderServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.orderServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>searchBookServlet</servlet-name>
  	<display-name>searchBookServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.searchBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>loginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>editBookServlet</servlet-name>
  	<url-pattern>/editBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteBookServlet</servlet-name>
  	<url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>logoutServlet</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>cartServlet</servlet-name>
  	<url-pattern>/cartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>removeBookServlet</servlet-name>
  	<url-pattern>/removeBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>sellBookServlet</servlet-name>
  	<url-pattern>/sellBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteSellBookServlet</servlet-name>
  	<url-pattern>/deleteSellBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>editProfileServlet</servlet-name>
  	<url-pattern>/editProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>orderServlet</servlet-name>
  	<url-pattern>/orderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>searchBookServlet</servlet-name>
  	<url-pattern>/searchBook</url-pattern>
  </servlet-mapping>
  
</web-app>
